:root{
  --bg: #0f1724;
  --muted: #94a3b8;
  --accent: #06b6d4;
  --max-width: 1100px;
  --count-slides: 5;
  --compacted-width: 5%;
  --rojo-cocacola: #fe001a
  var(--nav-height): 72px;
}


*{
  box-sizing: border-box;
  font-family: "TCCC-UnityHeadline Regular";
  color: #fff;
}

body{
  margin: 0;
  padding: 0 0;
  background-color: #2e2e2e;
  cursor: auto;
}

.cursor {
  position: fixed;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: red;
  pointer-events: none;
  transform: translate(-50%, -50%);
  box-shadow: #ffffff45 0 0 8px 2px;
  z-index: 9999;
}

.fondo {
  position: relative;
}

.img-fondo {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

header {
  padding: 0 0;
  text-align: center;
}

.site-header {
  display: flex;
  justify-content: center;
  background: transparent;
  position: fixed;
  left: 0;
  right: 0;
  top: 18px;
  z-index: 40;
  padding: 0;
  pointer-events: none;
}

.logo > img {
  width: 150px;
  height: auto;
  padding-left: 20px;
  padding-top: 10px;
}

.logo-img {
  width: 150px;
  height: auto;
}

.menu-header {
  z-index: 9997;
  position: fixed;
  pointer-events: auto;
  top: 0;
  left: 0;
  right: 0;
}

.menu-central {
  background-color: var(--bg);
  border-radius: 20px;
}

.user-btn .btn {
  background-color: var(--rojo-cocacola);   
  color: #fff;
  border: none;
  transition: all 0.3s ease;
  border-radius: 24px;
}

.user-btn .btn:hover {
  box-shadow: 0 0 15px rgba(224, 85, 85, 0.7);
  transform: scale(1.05);
}

.dropdown-menu{
  background-color: var(--bg);
  border: none;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-top: 10px;
  border-radius: 10px;
  display: none;
}

.dropdown-item {
  color: #fff;
}

.dropdown-item:hover {
  background-color: var(--rojo-cocacola);
  color: #fff;
  border-radius: 30px;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #06b6d4;
}  

.video-section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.img-lata {
  transform: rotate(10deg);
  transition: transform 0.45s ease;
  transform-origin: center;
  display: block;
  margin: 0 auto;
  max-width: 1000px;
}

.img-lata:hover {
  transform: rotate(-10deg) scale(1.2);
}

.descubre-btn .btn {
  background-color: var(--rojo-cocacola);
  margin-top: 20px;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 12px 30px;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}

.descubre-btn .btn:hover {
  box-shadow: 0 0 15px rgba(224, 85, 85, 0.7);
  transform: scale(1.05);
  background-color: #fff;
  color: var(--bg);
}

  
/* MARQUEE */
.marquee-wrapper {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: visible;
  gap: -60px;
  margin-top: 50px;
}


.marquee, .marquee-detras {
  position: absolute;
  display: flex;
  align-items: center;
  height: 110px;
  overflow-x:hidden;
  width: 100vw;
  background-color: #fff;
  white-space: nowrap;
  margin: 50px 0; 
}

.marquee {
  transform: rotate(-5deg);
  box-shadow: 0 0 10px #000000d1;
}

.marquee-detras {
  transform: rotate(5deg);    
}

.marquee-content {
  display: flex;
  gap: 100px;
  animation: scroll 15s linear infinite;
}

.marquee-content-detras {
  display: flex;
  gap: 100px;
  animation: scroll-reverse 15s linear infinite;
}
  
.marquee-content img, .marquee-content-detras img {
  height: 90px;
  width: auto;
  object-fit: contain;
  margin: 0;
  padding: 0;
  display: block;
  border: none;
  transition: transform 0.3s ease;
}
  
.marquee-content img:hover, .marquee-content-detras img:hover {
  transform: scale(1.1);
}
  
@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes scroll-reverse {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0); }
}
  
.marquee:hover .marquee-content, .marquee-detras:hover .marquee-content-detras {
  animation-play-state: paused;
}


/* Tarjetas homepage */

.tarjetas {
  justify-content: center;
}

.tarjetas .card {
  margin: 20px;
  width: 100%;
  height: 400px;
  max-width: 300px;
}

.custom-card {
  border: none;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.custom-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.3);
}

.custom-card .card-img-top {
  width: 100%;
  height:auto;
  object-fit: cover;
  display: block;
}

.custom-card .card-body {
  text-align: center;
  background: linear-gradient(135deg, #fe001a, #ff4d6d);
  color: #fff;
  padding: 8px;
}

.custom-card .btn {
  background-color: #fff;
  color: #fe001a;
  border-radius: 25px;
  padding: 10px 20px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.custom-card .btn:hover {
  background-color: #fe001a;
  color: #fff;
  box-shadow: 0 0 15px rgba(255,255,255,0.6);
  transform: scale(1.1);
}

.tarjetas .card img
.tarjetas .carousel-inner img {
  height: 100%;
  object-fit: cover;
}

.tarjetas.row {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.tarjetas .col-md-5
.tarjetas .col-md-3 {
  display: flex;
}

.tarjetas .carousel {
  flex: 1;
}

.tarjetas .carousel img,
.tarjetas .card-img-top {
  height: 100%;
  object-fit: cover;
}

.tarjetas .row .col-md-3 .custom-card > img.card-img-top {
  height: 200px !important;
  object-fit: contain !important;
  width: 100%;
  display: block;
}

.card-body h5 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 15px;
}

.card-body p {
  font-size: 0.8rem;
  margin-bottom: 15px;
}


/* marcas */
.container-marcas {
  max-width: var(--max-width);
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 30px;
  gap: 500px;
}

.container-marcas img {
  max-width: 400px;
  height: auto;
}

.section {
  margin-bottom: 80px;
}

.titulo-marcas {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 2.5rem;
  color: var(--rojo-cocacola);
}

.container-marcas h4.subtitulo-marcas {
  font-size: 1.2rem;
  color: #ffffffcc;
  padding-bottom: 40px;
}

.seccion-marca {
  margin-bottom: 100px;
}

.scroll-text {
  max-height: 250px;
  overflow-y: auto;
  padding: 15px;
  border: none;
  background-color: transparent;
  position: relative;
  scrollbar-width: none;   -ms-overflow-style: none;
}

.scroll-text::-webkit-scrollbar {
  display: none;
}

.btn-vermas-marcas .btn-marcas {
  background-color: var(--rojo-cocacola);
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 10px 25px;
  font-size: 1rem;
  margin-bottom: 70px;
  transition: all 0.3s ease;
}

.btn-vermas-marcas .btn-marcas:hover {
  box-shadow: 0 0 15px rgba(224, 85, 85, 0.7);
  transform: scale(1.05);
  background-color: #fff;
  color: var(--bg);
}


/* PAGINA COCA-COLA  */
div.panes {
  max-width: none;
  width: 100vw;
  height: 100vh;
  margin: 0;
  border-radius: 0;
  font-size: 0;
  overflow: hidden;
}

/* Cada slide */
div.panes > div.pane {
  width: calc(100% / var(--count-slides));
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  transition: all .5s;
  position: relative;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

/* Estado comprimido/expandido */
div.panes.magic > div.pane {
  width: var(--compacted-width);
}
div.panes.magic > div.pane.expand {
  width: calc(100% - (var(--compacted-width) * (var(--count-slides) - 1)));
}

html, body {
  height: 100%;
  margin: 0;
}

/* Contenido */
div.pane .content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 10%;
  opacity: 0;
  transform: scale(1.2);
  transition: all .5s;
  height: 100%;
  background: rgba(0,0,0,.4);
  color: #fff;
  transition: opacity .5s;
}

div.pane.expand .content {
  opacity: 1;
  transform: scale(1);
  backdrop-filter: blur(0px);
}

/* Extra desplegable */
div.pane .content .extra {
  display: none;
  margin-top: 10px;
  background: rgba(255,255,255,0.2);
  padding: 10px;
  border-radius: 5px;
  max-width: 450px;
  width: 100%;
}

/* Imagen */
div.pane .content img {
  margin-left: 40px;
  transition: transform 0.4s ease;
}

div.pane .content img:hover {
  transform: rotate(-8deg) scale(1.05);
}


/* Texto */
div.pane .content h1 {
  margin: 10px 0;
  font-size: 35px;
  margin: 0;
}
div.pane .content h2 {
  margin: 8px 0;
  font-size: 22px;
  font-weight: 400;
  color: #fff;
}

div.pane .content p {
  font-size: 13px;
  max-width: 80%;
}

/* Botón desplegable */
div.pane .content .toggle {
  background: #fff;
  border: none;
  color: #000;
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  margin-top: 1rem;
  transition: all .3s;
  cursor: pointer;
  min-width: 120px;
  text-align: center;
}

/* Texto horizontal encima de panes comprimidos */
.pane .label {
  position: absolute;
  bottom: 30%;
  padding-right: 60px ;
  writing-mode: vertical-rl;
  direction: rtl;
  transform: rotate(180deg) translateX(-50%);
  transform-origin: left bottom;
  pointer-events: none;
  opacity: 1;
  transition: opacity .3s;
  border: none;
  font-size: 22px;
  white-space: normal;
  word-break: break-word;
  max-height: 20%;
  text-align: center;
}

.pane.expand .label {
  opacity: 0;
}

div.pane.expand .content {
  opacity: 1;
  transform: scale(1);
  filter: blur(0px);
  backdrop-filter: blur(25px);
}

.toggle-wrapper {
  position: relative;
}

.toggle-wrapper .extra {
  display: none;
  position: absolute;
  top: 110%;
  left: 0;
  background: rgba(255,255,255,0.9);
  color: #000;
  padding: 10px;
  border-radius: 5px;
  max-width: 300px;
  width: 100%;
  z-index: 10;
}

#p1 { background-color: var(--rojo-cocacola) }
#p2 { background-color: rgb(0, 0, 0); }
#p3 { background-color: rgb(193, 194, 193); }
#p4 { background-color: rgb(223, 174, 13); }
#p5 { background-color: rgb(198, 154, 72); }

/* footer */

.footer {
  background-color: #fe001a; /* rojo Coca-Cola */
    color:var(--bg);
}

.footer-wave-path { 
  fill: var()
}

.footer-call-to-action-button {
  background-color: #fff;       /* botón blanco */
  color: #fe001a;               /* texto rojo */
}
.footer-call-to-action-button:hover {
  background-color: #fe001a;    /* hover rojo */
  color: #fff;
}


.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* reparte columnas */
  align-items: flex-start;       /* alinea arriba */
  margin-left: auto;
  margin-right: auto;
  max-width: 1230px;
  padding: 40px 15px;            /* quita el padding-bottom enorme */
  position: relative;
}

.footer-content-column {
  flex: 1 1 220px;   /* cada columna ocupa mínimo 220px */
  margin: 20px;
  box-sizing: border-box;
}


.footer-wave-svg {
  background-color: transparent;
  display: block;
  height: 30px;
  position: relative;
  top: -1px;
  width: 100%;
}
.footer-wave-path {
  fill: #fffff2;
}

.footer-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1230px;
  padding: 40px 15px;
  position: relative;
}

.footer-content-column {
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  color: #fff;
}

.footer-content-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-logo-link {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-menu-name {
  color: #fffff2;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: .1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}
.footer-menu-list {
  list-style: none;
  margin-bottom: 0;
  margin-top: 10px;
  padding-left: 0;
}
.footer-menu-list li {
  margin-top: 5px;
}

.footer-call-to-action-button:hover {
  background-color: #fffff2;
  color: #000000;
}
.button:last-of-type {
  margin-right: 0;
}
.footer-call-to-action-button {
  background-color:var(--bg);
  border-radius: 21px;
  color: #fffff2;
  display: inline-block;
  font-size: 11px;
  font-weight: 900;
  letter-spacing: .1em;
  line-height: 18px;
  padding: 12px 30px;
  margin: 0 10px 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color .2s;
  cursor: pointer;
  position: relative;
}
.footer-call-to-action {
  margin-top: 30px;
}
.footer-call-to-action-title {
  color: #fffff2;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: .1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}
.footer-call-to-action-link-wrapper {
  margin-bottom: 0;
  margin-top: 10px;
  color: #fff;
  text-decoration: none;
}
.footer-call-to-action-link-wrapper a {
  color: #fff;
  text-decoration: none;
}

.footer-copyright-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.footer-copyright-text {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
}

.footer-copyright-link {
  color: #fff;
  text-decoration: none;
}




/* MÓVIL: hasta 576px */
@media (max-width: 576px) {
  .titulo-marcas { font-size: 1.6rem; }
  .subtitulo-marcas { font-size: 0.95rem; }
  .logo-img { height: 38px; }

  .marquee-wrapper {
    height: 40px;
  }

  .marquee-content img {
    height: 40px;
  }

  .marquee {
    transform: rotate(-10deg);
  }

  .marquee-detras {
    transform: rotate(10deg);
  }

  .tarjetas {
    padding-top: 200px;
    align-items: center;
  }

  .footer-content {
    margin: 0 auto;
    max-width: 1230px;
    padding: 40px 15px;
    position: relative;
  }

  .footer-content-column {
    width: 100%;
  }

  :root { --nav-height: 72px; }

  .menu-header .navbar-collapse {
    background: rgba(0,0,0,0.92);
    padding: 1rem;
    margin-top: 0.4rem;
    border-radius: 8px;
  }

  .navbar-toggler {
    border-color: rgba(255,255,255,0.15);
  }
}

/* TABLET: 577px a 991px */
@media (min-width: 577px) and (max-width: 991px) {
  .logo-img { height: 42px; }

  .footer-content {
    margin: 0 auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
    justify-content: space-between;
  }

  .footer-content-column {
    width: 48%;
    text-align: left;
  }

  :root { --nav-height: 72px; }
}


/* Responsive: tablet y móviles */
@media (max-width: 991.98px) {
  .container-marcas { padding-top: 76px; }
  .titulo-marcas { font-size: 1.9rem; }
  .subtitulo-marcas { font-size: 1rem; }
}

/* En pantallas pequeñas, apilar columnas y centrar imágenes/texto */
@media (max-width: 767.98px) {
  /* Forzar que las columnas ocupen 100% y se apilen */
  .row.section {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }

  .seccion-marca, .img-marcas, .col-md-6 {
    width: 100% !important;
    max-width: 100% !important;
  }

  /* Hacer títulos y textos más grandes/legibles en móvil */
  .section-title { font-size: 1.25rem; text-align: center; margin-bottom: 0.5rem; }
  .scroll-text { max-height: none; overflow: visible; text-align: justify; }
  .logo-img { height: 42px; }
  .container-marcas { padding-top: 72px; padding-left: 1rem; padding-right: 1rem; }
  .btn-marcas { width: 100%; }
}


/* DESKTOP: desde 992px */
@media (min-width: 992px) {
  .footer-content {
    margin: 0 auto;
    max-width: 1230px;
    padding: 40px 15px;
    position: relative;
  }

  .footer-wave-svg {
    height: 50px;
  }

  .footer-content-column {
    width: 24.99%;
  }

  :root { --nav-height: 72px; }
}


/* Ajustes generales */
.container-marcas,
.descubre-container,
.tarjetas,
.marquee-wrapper,
.pg-footer {
  margin-top: 0;
}

