:root{
  --bg: #0f1724;
  --muted: #94a3b8;
  --accent: #06b6d4;
  --max-width: 1100px;
  --count-slides: 4;   /* ajusta al número real */
  --compacted-width: 5%; /* ancho de cada slide comprimido */
}

*{
  box-sizing: border-box
}

body{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0 0;
  /* background-color: #f4f4f4; */
}

header{
  padding: 0 0;
  text-align: center;
}

.site-header{
  display: flex;
  justify-content: center;
  background: transparent;
  position: fixed;
  left: 0;
  right: 0;
  top: 18px;
  z-index: 40;
  padding: 0;
  pointer-events: none;
}

.logo-img{
  width: 70px;
  height: auto;
}

.menu-header {
  z-index: 1050; /* siempre encima */
}
  
  
/* Mostrar dropdown al pasar el ratón */
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* evita salto */
}
  
/* Opcional: cambiar color de los enlaces */
.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #06b6d4;
}  



/* video */
#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1; /* Esto lo deja detrás del menú y el contenido */
}



  
/* MARQUEE */
.marquee {
  display: flex;
  align-items: center;
  height: 80px;
  overflow: hidden;
  background: transparent;
  position: relative;
}
  
.marquee-content {
  display: flex;
  gap: 100px;
  animation: scroll 15s linear infinite;
}
  
.marquee-content img {
  height: 70px;
  width: auto;
  object-fit: contain;
  margin: 0;
  padding: 0;
  display: block;
  border: none;
  transition: transform 0.3s ease;
}
  
.marquee-content img:hover {
  transform: scale(1.1);
}
  
@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
  
.marquee:hover .marquee-content {
  animation-play-state: paused;
}

/* PAGINA MARCA  */
/* TARJETAS  */
div.panes {
  max-width: none;
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  text-align: center;
}

div.panes > div.pane {
  height: 100%;
  vertical-align: middle;
  transition: all .5s;
  position: relative;
  background-size: cover;
  background-position: center center;
  flex: 0 0 var(--compacted-width); /* ancho compacto */
  transition: flex-basis .5s;

}

div.panes.magic > .pane {
  width: var(--compacted-width);
  height: 100%;
  transition: flex-basis .5s;
}

/* Estado compactado/expandido controlado por clases */
div.panes.magic > div.pane.expand {
  width: 85%;
}

/* Contenido */
div.pane .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  opacity: 0;
  transform: scale(1.2);
  transition: all .5s;
  background: rgba(0,0,0,.2);
  color: #fff;
}

div.pane .content h1 {
  font-size: 40px;
  margin: 0;
}
div.pane .content p {
  font-size: 14px;
  max-width: 80%;
}

/* Botones */
div.pane .content .buttons button {
  background: #fff;
  border: none;
  color: #e43939;
  font-size: 14px;
  padding: 7px 12px;
  border-radius: 5px;
  margin: 5px;
  transition: all .3s;
  cursor: pointer;
}
div.pane .content .buttons button.flat {
  background: transparent;
  color: #fff;
}
div.pane .content .buttons button:hover {
  background: #fff;
  color: #000;
  box-shadow: 0 0 15px #fff;
}

/* Mostrar contenido solo si la pane tiene la clase expand */
div.pane.expand .content {
  opacity: 1;
  transform: scale(1);
}

/* Backgrounds */
#p1 { background: rgb(0,120,250) url(https://i.imgur.com/uCdoqQ1.png) center/cover no-repeat; }
#p2 { background: deeppink url(https://cdn.discordapp.com/attachments/561577396759822346/572835279308587008/unknown.png) center/cover no-repeat; }
#p3 { background: orange url(https://cdn.discordapp.com/attachments/561577396759822346/572844868955537428/unknown.png) center/cover no-repeat; }
#p4 { background: lime url(https://media.discordapp.net/attachments/541021063170097184/573163476420395018/unknown.png) center/cover no-repeat; }
