:root{
  --bg: #0f1724;
  --muted: #94a3b8;
  --accent: #06b6d4;
  --max-width: 1100px;
  --count-slides: 5;
  --compacted-width: 5%;
  --rojo-cocacola: #fe001a
}


*{
  box-sizing: border-box;
  font-family: "TCCC-UnityHeadline Regular";
  color: #fff;
}

body{
  margin: 0;
  padding: 0 0;
  background-color: #2e2e2e;
  cursor: auto;
}

.cursor {
  position: fixed;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: red;
  pointer-events: none;
  transform: translate(-50%, -50%);
  box-shadow: #ffffff45 0 0 8px 2px;
  z-index: 9999;
}

header {
  padding: 0 0;
  text-align: center;
}

.site-header {
  display: flex;
  justify-content: center;
  background: transparent;
  position: fixed;
  left: 0;
  right: 0;
  top: 18px;
  z-index: 40;
  padding: 0;
  pointer-events: none;
}

.logo > img {
  width: 150px;
  height: auto;
  padding-left: 20px;
  padding-top: 10px;
}

.menu-header {
  z-index: 9997;
  position: fixed;
  pointer-events: auto;
  top: 0;
  left: 0;
  right: 0;
}

.menu-central {
  background-color: var(--bg);
  border-radius: 20px;
}

.user-btn .btn {
  background-color: var(--rojo-cocacola);   
  color: #fff;
  border: none;
  transition: all 0.3s ease;
  border-radius: 24px;
}

.user-btn .btn:hover {
  box-shadow: 0 0 15px rgba(224, 85, 85, 0.7);
  transform: scale(1.05);
}

.dropdown-menu{
  background-color: var(--bg);
  border: none;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-top: 10px;
  border-radius: 10px;
  display: none;
}

.dropdown-item {
  color: #fff;
}

.dropdown-item:hover {
  background-color: var(--rojo-cocacola);
  color: #fff;
  border-radius: 30px;
}
  
  
/* Mostrar dropdown al pasar el ratón */
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* evita salto */
}
  
/* Opcional: cambiar color de los enlaces */
.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #06b6d4;
}  


/* video */
.video-section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}


#bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

/* DESCUBRE */
.img-lata {
  transform: rotate(10deg);
  transition: transform 0.45s ease;
  transform-origin: center;
  display: block;
  margin: 0 auto;
  max-width: 1000px;
}

.img-lata:hover {
  transform: rotate(-10deg) scale(1.2);
}

.descubre-btn .btn {
  background-color: var(--rojo-cocacola);
  margin-top: 20px;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 12px 30px;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}

.descubre-btn .btn:hover {
  box-shadow: 0 0 15px rgba(224, 85, 85, 0.7);
  transform: scale(1.05);
  background-color: #fff;
  color: var(--bg);
}

  
/* MARQUEE */
.marquee-wrapper {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: visible;
  gap: -60px;
  /* white-space: nowrap; */
  margin-top: 50px;
}


.marquee, .marquee-detras {
  position: absolute;        /* ya no absolute */
  display: flex;
  align-items: center;
  height: 110px;
  overflow-x:hidden;
  width: 100vw;
  background-color: #fff;
  white-space: nowrap;
  margin: 50px 0; 
}

.marquee {
  transform: rotate(-5deg);
  box-shadow: 0 0 10px #000000d1;
}

.marquee-detras {
  transform: rotate(5deg);    
}

.marquee-content {
  display: flex;
  gap: 100px;
  animation: scroll 15s linear infinite;
}

.marquee-content-detras {
  display: flex;
  gap: 100px;
  animation: scroll-reverse 15s linear infinite;
}
  
.marquee-content img, .marquee-content-detras img {
  height: 90px;
  width: auto;
  object-fit: contain;
  margin: 0;
  padding: 0;
  display: block;
  border: none;
  transition: transform 0.3s ease;
}
  
.marquee-content img:hover, .marquee-content-detras img:hover {
  transform: scale(1.1);
}
  
@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes scroll-reverse {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0); }
}
  
.marquee:hover .marquee-content, .marquee-detras:hover .marquee-content-detras {
  animation-play-state: paused;
}


/* Tarjetas homepage */

.tarjetas {
  justify-content: center;
}

.tarjetas .card {
  margin: 20px;
  width: 100%;
  height: 400px;
  max-width: 300px;
}

.custom-card {
  border: none;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.custom-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.3);
}

.custom-card .card-img-top {
  width: 100%;
  height:auto;
  object-fit: cover;
  display: block;
}

.custom-card .card-body {
  text-align: center;
  background: linear-gradient(135deg, #fe001a, #ff4d6d);
  color: #fff;
  padding: 8px;
}

.custom-card .btn {
  background-color: #fff;
  color: #fe001a;
  border-radius: 25px;
  padding: 10px 20px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.custom-card .btn:hover {
  background-color: #fe001a;
  color: #fff;
  box-shadow: 0 0 15px rgba(255,255,255,0.6);
  transform: scale(1.1);
}

.tarjetas .card img
.tarjetas .carousel-inner img {
  height: 100%;
  object-fit: cover;
}

.tarjetas.row {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.tarjetas .col-md-5
.tarjetas .col-md-3 {
  display: flex;
}

.tarjetas .carousel {
  flex: 1;
}

.tarjetas .carousel img,
.tarjetas .card-img-top {
  height: 100%;
  object-fit: cover;
}

/* 1) Limitar la imagen solo en la tarjeta 2 (la col-md-3) */
.tarjetas .row .col-md-3 .custom-card > img.card-img-top {
  height: 200px !important;   /* más baja para dejar sitio al botón */
  object-fit: contain !important;  /* que no se recorte */
  width: 100%;
  display: block;
}

.card-body h5 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 15px;
}

.card-body p {
  font-size: 0.8rem;
  margin-bottom: 15px;
}


/* marca */
.container-marcas {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 50px;
  gap: 500px;
}

.container-marcas img {
  max-width: 400px;
  height: auto;
}

.section {
  margin-bottom: 80px;
}

.titulo-marcas {
  margin-top: 40px;
  margin-bottom: 70px;
  font-size: 2.5rem;
  color: var(--rojo-cocacola);
}

.seccion-marca {
  margin-bottom: 100px;
}



.scroll-text {
  max-height: 250px;
  overflow-y: auto;
  padding: 15px;
  border: none;
  background-color: transparent;
  position: relative;
  scrollbar-width: none;   -ms-overflow-style: none;
}

.scroll-text::-webkit-scrollbar {
  display: none;
}



/* PAGINA COCA-COLA  */
/* TARJETAS  */

/* Contenedor principal */
div.panes {
  max-width: none;
  width: 100vw;
  height: 100vh;
  margin: 0;
  border-radius: 0;
  font-size: 0;
  overflow: hidden;
}

/* Cada slide */
div.panes > div.pane {
  width: calc(100% / var(--count-slides));
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  transition: all .5s;
  position: relative;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

/* Estado comprimido/expandido */
div.panes.magic > div.pane {
  width: var(--compacted-width);
}
div.panes.magic > div.pane.expand {
  width: calc(100% - (var(--compacted-width) * (var(--count-slides) - 1)));
}

/* Forzar html/body a tamaño completo y quitar márgenes */
html, body {
  height: 100%;
  margin: 0;
}

/* Contenido */
div.pane .content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 10%;
  opacity: 0;
  transform: scale(1.2);
  transition: all .5s;
  height: 100%;
  background: rgba(0,0,0,.4);
  color: #fff;
  transition: opacity .5s;
}

div.pane.expand .content {
  opacity: 1;
  transform: scale(1);
  backdrop-filter: blur(0px);
}

/* 
Extra desplegable */
div.pane .content .extra {
  display: none;
  margin-top: 10px;
  background: rgba(255,255,255,0.2);
  padding: 10px;
  border-radius: 5px;
  max-width: 450px;
  width: 100%;
}

/* Imagen */
div.pane .content img {
  margin-left: 40px;
  transition: transform 0.4s ease; /* animación suave */
}

div.pane .content img:hover {
  transform: rotate(-8deg) scale(1.05); /* gira y aumenta un poco */
}


/* Texto */
div.pane .content h1 {
  margin: 10px 0;
  font-size: 35px;
  margin: 0;
}
div.pane .content h2 {
  margin: 8px 0;
  font-size: 22px;       /* tamaño intermedio entre h1 y p */
  font-weight: 400;      /* menos pesado que h1 */
  color: #fff;           /* asegúrate de que se vea en el fondo oscuro */
}

div.pane .content p {
  font-size: 13px;
  max-width: 80%;
}

/* Botón desplegable */
div.pane .content .toggle {
  background: #fff;
  border: none;
  color: #000;
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  margin-top: 1rem;
  transition: all .3s;
  cursor: pointer;
  min-width: 120px;
  text-align: center;
}

/* Texto horizontal encima de panes comprimidos */
.pane .label {
  position: absolute;
  bottom: 30%;
  padding-right: 60px ;
  writing-mode: vertical-rl;
  direction: rtl;
  transform: rotate(180deg) translateX(-50%);
  transform-origin: left bottom;
  pointer-events: none;
  opacity: 1;
  transition: opacity .3s;
  border: none;
  font-size: 22px;
  white-space: normal;
  word-break: break-word;
  max-height: 20%;
  text-align: center;
}


/* Ocultar el label cuando el pane está expandido */
.pane.expand .label {
  opacity: 0;
}

/* Mostrar contenido solo si la pane tiene la clase expand */
div.pane.expand .content {
  opacity: 1;
  transform: scale(1);
  filter: blur(0px);
  backdrop-filter: blur(25px);
}

/* Botón + desplegable */
.toggle-wrapper {
  position: relative;
}

.toggle-wrapper .extra {
  display: none;
  position: absolute;
  top: 110%;   /* justo debajo del botón */
  left: 0;
  background: rgba(255,255,255,0.9);
  color: #000;
  padding: 10px;
  border-radius: 5px;
  max-width: 300px;
  width: 100%;
  z-index: 10;
}

/* Colores distintos para cada pane */
#p1 { background-color: var(--rojo-cocacola) }
#p2 { background-color: rgb(0, 0, 0); }
#p3 { background-color: rgb(193, 194, 193); }
#p4 { background-color: rgb(223, 174, 13); }
#p5 { background-color: rgb(198, 154, 72); }

